a {
  color: #fff;
}
.page-body {
  font-family: sans-serif;
  color: #fff;
  background-color: #171717;
}
.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.vector-phone {
  display: inline-block;
  padding-right: 10px;
}
.header-logo {
  padding-top: 50px;
  display: inline-block;
}

.header-phone-number {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  margin-left: 775px;
  margin-right: 40px;
  display: inline-block;
}
.accent-color {
  color: #d6af76;
}
.header-backcall {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  border: 1px solid #e4b564;
  padding: 10px 25px;
}
/* ================== END HEADER ================== */
.header-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  display: inline;
}
.page-main {
  margin-top: 100px;
}
.header-info {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-top: 41px;
}
.wotk-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "work-item-one work-item-one work-item-two work-item-two work-item-three work-item-three"
    "work-item-four work-item-four work-item-four work-item-five work-item-five work-item-five";
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin-bottom: 100px;
}

.work-item-one {
  grid-area: work-item-one;
  width: 471px;
  height: 468px;
  text-align: center;
  background-color: #634f2c;
  padding-top: 220px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.work-item-two {
  grid-area: work-item-two;
  width: 468px;
  height: 468px;
  text-align: center;
  background-color: #b4a385;
  padding-top: 206px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.work-item-three {
  grid-area: work-item-three;
  width: 468px;
  height: 468px;
  text-align: center;
  background-color: #e4b564;
  padding-top: 220px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.work-item-four {
  grid-area: work-item-four;
  width: 710px;
  height: 468px;
  text-align: center;
  background-color: #635a4a;
  padding-top: 220px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.work-item-five {
  grid-area: work-item-five;
  width: 710px;
  height: 468px;
  text-align: center;
  background-color: #b08c4d;
  padding-top: 220px;
}

/* =================== MAIN ========================== */
.cars-lists {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3, 465px);
  grid-template-rows: repeat(8, 1fr);
  gap: 20px;
  grid-auto-flow: row;
  justify-content: space-between;
  grid-template-areas:
    "cars-list-one cars-list-two cars-list-three"
    "cars-list-one cars-list-two cars-list-three"
    "cars-list-one cars-list-two cars-list-six"
    "cars-list-four cars-list-two cars-list-six"
    "cars-list-four cars-list-five cars-list-six"
    "cars-list-four cars-list-five cars-list-seven"
    "cars-list-four cars-list-five cars-list-seven"
    "cars-list-four cars-list-five cars-list-seven";
  padding-bottom: 50px;
  margin-top: 50px;
}
.cars-list-one {
  grid-area: cars-list-one;
  height: 313px;
  background-color: #0e0e0e;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  padding-top: 45px;
  padding-left: 50px;
}
.cars-list-two {
  grid-area: cars-list-two;
  background-color: #242424;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  padding-top: 45px;
  padding-left: 50px;
}
.cars-list-three {
  grid-area: cars-list-three;
  background-color: #1f1f1f;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  padding-top: 45px;
  padding-left: 50px;
}
.cars-list-four {
  grid-area: cars-list-four;
  background-color: #1f1f1f;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  padding-top: 45px;
  padding-left: 50px;
}
.cars-list-five {
  grid-area: cars-list-five;
  background-color: #e4b564;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  padding-top: 45px;
  padding-left: 50px;
}
.cars-list-six {
  grid-area: cars-list-six;
  background-color: #0e0e0e;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  padding-top: 45px;
  padding-left: 50px;
}
.cars-list-seven {
  grid-area: cars-list-seven;
  background-color: #0a0909;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  padding-top: 45px;
  padding-left: 50px;
}
.accent-text {
  color: #000000;
}

/* ========================== */
.all-project {
  padding: 10px 40px;
  margin-left: 624px;
  border: 1px solid #e4b564;
  color: #e4b564;
}
.projects-list {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3, 480px);
  grid-template-rows: repeat(2, 391px);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "project-item-1 project-item-2 project-item-3"
    "project-item-4 project-item-5 project-item-6";
  padding-bottom: 240px;
  margin-top: 60px;
}
.project-link-text {
  font-weight: 600;
font-size: 22px;
line-height: 28px;
text-align: center;
}

.project-item-1 {
  grid-area: project-item-1;
  background-color: #634f2c;
}

.project-item-2 {
  grid-area: project-item-2;
  background-color: rgba(232, 210, 171, 0.76);
}

.project-item-3 {
  grid-area: project-item-3;
  background-color: #e4b564;
}

.project-item-4 {
  grid-area: project-item-4;
  background-color: #635a4a;
}

.project-item-5 {
  grid-area: project-item-5;
  background-color: #b08c4d;
}

.project-item-6 {
  grid-area: project-item-6;
  background-color: #634f2c;
}
/* ======================== */
.project-logo {
  margin: 170px auto 0;
}
.project-logo1 {
  margin: 60px auto 0;
}
.project-logo2 {
  margin: 0 auto;
}
